<% include partials/header %>

<h1>Sales To Date</h1>

<table>
  <tr>
    <td>Product ID</td>
    <td>Product Name</td>
    <td>Total Product Orders</td>
  </tr>
  <%data.forEach(value => { %>
    <tr>
      <td><%= value[0] %></td>
      <td><%= value[1]%></td>
      <td><%= value[2]%></td>
    </tr>
  <%});%>
</table>

<% include partials/footer %>